.parent {
    width: max-content;
    height: 50px;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 1px;
    
    
}



button {

height: 50px;
width: 80px;
background-color: rgb(251, 250, 203);
gap: 7px;
font-size: large;
justify-content: center;

}


body

{

height: 60px;
justify-content: center;
display: flex;
color: rgb(0, 0, 0);

}

h1{
text-align: right;
}



    
.div1 {
    grid-column: span 4 / span 4;
    border: 10px;
    padding: 05px;
    margin: 5px
}

.div2 {
    grid-row-start: 2;
}

.div2:hover{

background-color: rgb(215, 214, 155);

}


.div3 {
    grid-row-start: 2;
}

.div3:hover{

background-color: rgb(215, 214, 155);

}



.div4 {
    grid-row-start: 2;
}

.div4:hover{

background-color: rgb(215, 214, 155);

}




.div5 {
    grid-row-start: 2;
}

.div5:hover{

background-color: rgb(215, 214, 155);

}


.div6 {
    grid-row-start: 3;
}


.div6:hover{

background-color: rgb(215, 214, 155);

}



.div7 {
    grid-row-start: 3;
    
}

.div7:hover{

background-color: rgb(215, 214, 155);

}





.div8 {
    grid-row-start: 3;
}

.div8:hover{

background-color: rgb(215, 214, 155);

}



.div9 {
    grid-row-start: 3;
}

.div9:hover{

background-color: rgb(215, 214, 155);

}


.div10:{

    grid-row-start: 3;
}

.div10:hover{

background-color: rgb(215, 214, 155);

}



.div11 {
    grid-row-start: 4;
}
.div11:hover{

background-color: rgb(215, 214, 155);

}


.div12 {
    grid-row-start: 4;
}

.div12:hover{

background-color: rgb(215, 214, 155);

}


.div13 {
    grid-row-start: 4;
}

.div13:hover{

background-color: rgb(215, 214, 155);

}


.div14 {
    grid-row-start: 4;
}

.div14:hover{

background-color: rgb(215, 214, 155);

}




.div15 {
    grid-row-start: 5;
}
.div15:hover{

background-color: rgb(215, 214, 155);

}



.div16 {
    grid-row-start: 5;
}

.div16:hover{

background-color: rgb(215, 214, 155);

}



.div17 {
    grid-row-start: 5;
}

.div17:hover{

background-color: rgb(215, 214, 155);

}


.div18 {
    grid-row-start: 5;
}

.div18:hover{

background-color: rgb(215, 214, 155);

}




.div19 {
    grid-row-start: 6;
}
.div19:hover{

background-color: rgb(215, 214, 155);

}



.div20 {
    grid-row-start: 6;
}

.div20:hover{

background-color: rgb(215, 214, 155);
}


.div21 {
    grid-row-start: 6;
}

.div21:hover{

background-color: rgb(215, 214, 155);

}

.div22 {

    background-color: rgb(9, 71, 178);
    color: bisque; 
}

.div22:hover{

   background-color: rgb(6, 54, 137);

}



.div23 {
    grid-row-start: 7;
}

.div23:hover{

background-color: rgb(215, 214, 155);
}



.div24 {
    grid-row-start: 7;
}
.div24:hover{

background-color: rgb(215, 214, 155);

}


.div25 {
    grid-row-start: 7;
}
    
.div25:hover{

background-color: rgb(215, 214, 155);

}